/* Container principal al profilului */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #f4f4f9; /* Set background color */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titlu al paginii de profil */
.profile-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 30px;
    color: #333;
}

/* Detalii despre profil */
.profile-details {
    background-color: #fff;
    padding: 30px;
    width: 80%;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-details p {
    margin-bottom: 12px;
    font-size: 1.1rem;
}

.profile-details button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.profile-details button:hover {
    opacity: 0.8;
}

.profile-details button:focus {
    outline: none;
}

.cv-template {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    font-size: 0.9rem;
    padding: 10px;
    margin: 10px 0;
    max-height: 500px;
    overflow-y: auto;
    box-sizing: border-box;
}


/* Secțiune pentru CV-uri */
.cv-section {
    margin-top: 40px;
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
}

/* Mesajul CV-urilor */
.cv-message {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #444;
}



/* Formularele de editare */
.edit-form {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.edit-form .form-label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.input-field {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

button {
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    color: white;
    font-size: 1rem;
}

button:hover {
    opacity: 0.9;
}

button:focus {
    outline: none;
}

.upload-page button{
    background-color: #4CAF50; /* Green */
    color: white;
    border-color: #45a049;


}

.save-button {
    background-color: #4CAF50; /* Green */
    color: white;
    border-color: #45a049;
}

.save-button:hover {
    background-color: #45a049;
}

/* Cancel button */
.cancel-button {
    background-color: #f44336; /* Red */
    color: white;
    border-color: #f44136;

}



.cv-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 coloane pe ecranele mari */
    gap: 30px; /* Spațiu între cardurile de CV */
    margin-top: 20px;
    padding: 0 20px;
    justify-items: center;
}

/* Cardurile de CV */
.cv-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    text-align: center;
    width: 100%;
    max-width: 500px;
    /*max-height: 500px; */
    margin: 0 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}


.cv-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.cv-header {
    margin-bottom: 20px;
}

.cv-section h3 {
    font-weight: bold;
    margin-bottom: 8px;
}

.cv-section p {
    margin-bottom: 12px;
    font-size: 1rem;
    color: #555;
}

/* Butoanele din fiecare card de CV */
.cv-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}


.cv-actions button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    width: 100%;
    max-width: 120px;
    box-sizing: border-box;
}



.cv-actions button:hover {
    opacity: 0.8;
}


@media (max-width: 768px) {
    .cv-list {
        grid-template-columns: 1fr;
    }

    .cv-card {
        max-width: 100%;
    }
    .cv-actions button {
        width: 100%;
    }
}


@media (min-width: 1024px) {
    .cv-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .cv-actions button {
        width: 48%;
    }
}
